<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>amazona</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sig In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div><div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div><div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div><div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>seling product</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <span><i class="fa fa-start"></i></span>
                            <div class="price">
                                CUC 120
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">
            All right reserved
        </footer>
    </div>
</body>
</html>